<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <form action="/characters/<%= character._id %>?_method=PUT" method="POST">


    
    <input value="<%= character.name %>" type="text" name="name" id="name-input">
    <input value="<%= character.level %>" type="number"  name="level" id="level-input">
    <button type="submit">Save</button>



  </form>
</main>

<%- include('../partials/footer') %>