<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>


  <h1>All Characters</h1>
    <table>
      <tbody>

        <% characters.forEach((character) => {%>
          <td>
            <a href="/characters/<%= character._id %>">
              <%= character.name %>
            </a>
          </td>
        <% }) %>
        
      </tbody>
    </table>


</main>
<%- include('../partials/footer') %>